/****************************
**      AntonVoronezh
****************************/

.about {
    height: 350px;
    background-color: #483647;
    background-image: url('../../../../img/decor/2.png')
}